header{
      height:210px;
      width:100%;
vertical-align:center;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:1px;	 	 
}
.slideimg
{
width:250px;
height:200px;
}


#d1
{
animation-name:d1;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d2
{
animation-name:d2;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d3
{
animation-name:d3;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d4
{
animation-name:d4;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d5
{
animation-name:d5;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d6
{
animation-name:d6;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d7
{
animation-name:d7;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d8
{
animation-name:d8;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d9
{
animation-name:d9;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d10
{
animation-name:d10;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d11
{
animation-name:d11;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d12
{
animation-name:d12;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d13
{
animation-name:d13;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d14
{
animation-name:d14;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d15
{
animation-name:d15;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d16
{
animation-name:d16;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
#d17
{
animation-name:d17;
width:5.88%;
height:20px;
float:left;
animation-duration: 17s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
@keyframes d1 {
    0%   {background-color:rgb(252, 29, 68);}
    5.88%  {background-color:rgb(226, 171, 3); }
    11.76%  {background-color:rgb(0, 179, 60); }
    17.64%  {background-color:rgb(188, 16, 31); }
    23.52% {background-color:rgb(254, 57, 27); }
    29.4% {background-color:rgb(77, 195, 255); }
    35.28% {background-color:rgb(255, 209, 26); }
    41.16% {background-color:rgb(204, 0, 102); }
    47.04% {background-color:rgb(254, 128, 1); }
    52.92% {background-color:rgb(230, 0, 92); }
    58.8% {background-color:rgb(253, 183, 53); }
    64.68% {background-color:rgb(230, 172, 0); }
    70.56% {background-color:rgb(0, 153, 61); }
    76.44% {background-color:rgb(0, 138, 230); }
    82.32% {background-color:rgb(0, 196, 0); }
    88.2% {background-color:rgb(7, 81, 171); }
    94.08% {background-color:rgb(5, 58, 122); }
    100% {background-color:rgb(252, 29, 68); }
}
@keyframes d2 {
   
    0%  {background-color:rgb(226, 171, 3); }
    5.88%  {background-color:rgb(0, 179, 60); }
    11.76%  {background-color:rgb(188, 16, 31); }
    17.64% {background-color:rgb(254, 57, 27); }
    23.52% {background-color:rgb(77, 195, 255); }
    29.4% {background-color:rgb(255, 209, 26); }
    35.28% {background-color:rgb(204, 0, 102); }
    41.16% {background-color:rgb(254, 128, 1); }
    47.04% {background-color:rgb(230, 0, 92); }
    52.92% {background-color:rgb(253, 183, 53); }
    58.8% {background-color:rgb(230, 172, 0); }
    64.68% {background-color:rgb(0, 153, 61); }
    70.56% {background-color:rgb(0, 138, 230); }
    76.44% {background-color:rgb(0, 196, 0); }
    82.32% {background-color:rgb(7, 81, 171); }
    88.2% {background-color:rgb(5, 58, 122); }
 94.08%   {background-color:rgb(252, 29, 68);}
    100%  {background-color:rgb(226, 171, 3); }
}
@keyframes d3 {
       0%  {background-color:rgb(0, 179, 60); }
   5.88% {background-color:rgb(188, 16, 31); }
    11.76% {background-color:rgb(254, 57, 27); }
    17.64%{background-color:rgb(77, 195, 255); }
    23.52% {background-color:rgb(255, 209, 26); }
    29.4% {background-color:rgb(204, 0, 102); }
    35.28% {background-color:rgb(254, 128, 1); }
     41.16% {background-color:rgb(230, 0, 92); }
    47.04% {background-color:rgb(253, 183, 53); }
    52.92% {background-color:rgb(230, 172, 0); }
    58.8% {background-color:rgb(0, 153, 61); }
    64.68%% {background-color:rgb(0, 138, 230); }
    70.56% {background-color:rgb(0, 196, 0); }
    76.44% {background-color:rgb(7, 81, 171); }
    82.32% {background-color:rgb(5, 58, 122); }
 88.2%{background-color:rgb(252, 29, 68);}
    94.08% {background-color:rgb(226, 171, 3); }
    100% {background-color:rgb(0, 179, 60); }
    
}
@keyframes d4 {
   
    0% {background-color:rgb(188, 16, 31); }
    5.88%{background-color:rgb(254, 57, 27); }
    11.76%{background-color:rgb(77, 195, 255); }
    17.64% {background-color:rgb(255, 209, 26); }
    23.52% {background-color:rgb(204, 0, 102); }
    29.4% {background-color:rgb(254, 128, 1); }
    35.28% {background-color:rgb(230, 0, 92); }
     41.16%{background-color:rgb(253, 183, 53); }
    47.04% {background-color:rgb(230, 172, 0); }
    52.92% {background-color:rgb(0, 153, 61); }
    58.8%{background-color:rgb(0, 138, 230); }
    64.68% {background-color:rgb(0, 196, 0); }
    70.56% {background-color:rgb(7, 81, 171); }
    76.44% {background-color:rgb(5, 58, 122); }
     82.32% {background-color:rgb(252, 29, 68);}
    88.2% {background-color:rgb(226, 171, 3); }
    94.08% {background-color:rgb(0, 179, 60); }
     100%  {background-color:rgb(188, 16, 31); }
}
@keyframes d5 {
   
    0% {background-color:rgb(254, 57, 27); }
    5.88%{background-color:rgb(77, 195, 255); }
    11.76% {background-color:rgb(255, 209, 26); }
    17.64% {background-color:rgb(204, 0, 102); }
   23.52% {background-color:rgb(254, 128, 1); }
    29.4% {background-color:rgb(230, 0, 92); }
    35.28%{background-color:rgb(253, 183, 53); }
     41.16% {background-color:rgb(230, 172, 0); }
    47.04%{background-color:rgb(0, 153, 61); }
    52.92% {background-color:rgb(0, 138, 230); }
   58.8% {background-color:rgb(0, 196, 0); }
    64.68%{background-color:rgb(7, 81, 171); }
    70.56% {background-color:rgb(5, 58, 122); }
    76.44% {background-color:rgb(252, 29, 68);}
    82.32%  {background-color:rgb(226, 171, 3); }
   88.2%  {background-color:rgb(0, 179, 60); }
    94.08% {background-color:rgb(188, 16, 31); }
     100% {background-color:rgb(254, 57, 27); }
}
@keyframes d6 {
    0% {background-color:rgb(77, 195, 255); }
    5.88% {background-color:rgb(255, 209, 26); }
    11.76% {background-color:rgb(204, 0, 102); }
   17.64% {background-color:rgb(254, 128, 1); }
   23.52% {background-color:rgb(230, 0, 92); }
   29.4%{background-color:rgb(253, 183, 53); }
    35.28% {background-color:rgb(230, 172, 0); }
     41.16% {background-color:rgb(0, 153, 61); }
    47.04% {background-color:rgb(0, 138, 230); }
    52.92% {background-color:rgb(0, 196, 0); }
    58.8% {background-color:rgb(7, 81, 171); }
    64.68% {background-color:rgb(5, 58, 122); }
    70.56% {background-color:rgb(252, 29, 68);}
    76.44%  {background-color:rgb(226, 171, 3); }
    82.32%  {background-color:rgb(0, 179, 60); }
    88.2%  {background-color:rgb(188, 16, 31); }
    94.08% {background-color:rgb(254, 57, 27); }
     100% {background-color:rgb(77, 195, 255); }
}
@keyframes d7 {
  0% {background-color:rgb(255, 209, 26); }
    5.88% {background-color:rgb(204, 0, 102); }
    11.76%{background-color:rgb(254, 128, 1); }
   17.64% {background-color:rgb(230, 0, 92); }
   23.52%{background-color:rgb(253, 183, 53); }
    29.4% {background-color:rgb(230, 172, 0); }
    35.28% {background-color:rgb(0, 153, 61); }
     41.16% {background-color:rgb(0, 138, 230); }
    47.04% {background-color:rgb(0, 196, 0); }
   52.92% {background-color:rgb(7, 81, 171); }
    58.8% {background-color:rgb(5, 58, 122); }
    64.68% {background-color:rgb(252, 29, 68);}
    70.56%  {background-color:rgb(226, 171, 3); }
    76.44%  {background-color:rgb(0, 179, 60); }
     82.32% {background-color:rgb(188, 16, 31); }
    88.2%{background-color:rgb(254, 57, 27); }
    94.08% {background-color:rgb(77, 195, 255); }
     100% {background-color:rgb(255, 209, 26); }
}
@keyframes d8 {
  0% {background-color:rgb(204, 0, 102); }
    5.88% {background-color:rgb(254, 128, 1); }
   11.76% {background-color:rgb(230, 0, 92); }
   17.64%{background-color:rgb(253, 183, 53); }
   23.52% {background-color:rgb(230, 172, 0); }
    29.4%{background-color:rgb(0, 153, 61); }
    35.28% {background-color:rgb(0, 138, 230); }
     41.16% {background-color:rgb(0, 196, 0); }
    47.04% {background-color:rgb(7, 81, 171); }
    52.92% {background-color:rgb(5, 58, 122); }
58.8%{background-color:rgb(252, 29, 68);}
    64.68% {background-color:rgb(226, 171, 3); }
    70.56%  {background-color:rgb(0, 179, 60); }
    76.44% {background-color:rgb(188, 16, 31); }
     82.32% {background-color:rgb(254, 57, 27); }
   88.2% {background-color:rgb(77, 195, 255); }
    94.08% {background-color:rgb(255, 209, 26); }
     100%{background-color:rgb(204, 0, 102); }
   
}
@keyframes d9 {
   
    0% {background-color:rgb(254, 128, 1); }
    5.88% {background-color:rgb(230, 0, 92); }
    11.76% {background-color:rgb(253, 183, 53); }
    17.64% {background-color:rgb(230, 172, 0); }
   23.52% {background-color:rgb(0, 153, 61); }
   29.4% {background-color:rgb(0, 138, 230); }
   35.28% {background-color:rgb(0, 196, 0); }
     41.16% {background-color:rgb(7, 81, 171); }
    47.04% {background-color:rgb(5, 58, 122); }
 52.92% {background-color:rgb(252, 29, 68);}
    58.8% {background-color:rgb(226, 171, 3); }
    64.68%  {background-color:rgb(0, 179, 60); }
   70.56%  {background-color:rgb(188, 16, 31); }
    76.44% {background-color:rgb(254, 57, 27); }
    82.32% {background-color:rgb(77, 195, 255); }
   88.2% {background-color:rgb(255, 209, 26); }
   94.08%{background-color:rgb(204, 0, 102); }
     100% {background-color:rgb(254, 128, 1); }
   
}
@keyframes d10 {
    
    0%{background-color:rgb(230, 0, 92); }
   5.88%{background-color:rgb(253, 183, 53); }
   11.76% {background-color:rgb(230, 172, 0); }
    17.64% {background-color:rgb(0, 153, 61); }
   23.52% {background-color:rgb(0, 138, 230); }
    29.4% {background-color:rgb(0, 196, 0); }
   35.28%{background-color:rgb(7, 81, 171); }
    41.16% {background-color:rgb(5, 58, 122); }
 47.04% {background-color:rgb(252, 29, 68);}
    52.92%  {background-color:rgb(226, 171, 3); }
    58.8%  {background-color:rgb(0, 179, 60); }
   64.68%{background-color:rgb(188, 16, 31); }
    70.56% {background-color:rgb(254, 57, 27); }
    76.44% {background-color:rgb(77, 195, 255); }
     82.32% {background-color:rgb(255, 209, 26); }
    88.2% {background-color:rgb(204, 0, 102); }
    94.08% {background-color:rgb(254, 128, 1); }
     100% {background-color:rgb(230, 0, 92); }
  
}
@keyframes d11 {
    
    0% {background-color:rgb(253, 183, 53); }
   5.88% {background-color:rgb(230, 172, 0); }
     11.76%  {background-color:rgb(0, 153, 61); }
    17.64% {background-color:rgb(0, 138, 230); }
   23.52% {background-color:rgb(0, 196, 0); }
    29.4%{background-color:rgb(7, 81, 171); }
    35.28% {background-color:rgb(5, 58, 122); }
  41.16%  {background-color:rgb(252, 29, 68);}
    47.04%{background-color:rgb(226, 171, 3); }
    52.92%  {background-color:rgb(0, 179, 60); }
    58.8%  {background-color:rgb(188, 16, 31); }
    64.68% {background-color:rgb(254, 57, 27); }
    70.56%{background-color:rgb(77, 195, 255); }
    76.44% {background-color:rgb(255, 209, 26); }
     82.32% {background-color:rgb(204, 0, 102); }
    88.2% {background-color:rgb(254, 128, 1); }
    94.08% {background-color:rgb(230, 0, 92); }
     100% {background-color:rgb(253, 183, 53); }
   
}
@keyframes d12 {
    
    0% {background-color:rgb(230, 172, 0); }
     5.88% {background-color:rgb(0, 153, 61); }
     11.76%  {background-color:rgb(0, 138, 230); }
   17.64% {background-color:rgb(0, 196, 0); }
   23.52% {background-color:rgb(7, 81, 171); }
   29.4% {background-color:rgb(5, 58, 122); }
 35.28%  {background-color:rgb(252, 29, 68);}
    41.16%  {background-color:rgb(226, 171, 3); }
    47.04%  {background-color:rgb(0, 179, 60); }
    52.92%  {background-color:rgb(188, 16, 31); }
    58.8% {background-color:rgb(254, 57, 27); }
    64.68%{background-color:rgb(77, 195, 255); }
    70.56% {background-color:rgb(255, 209, 26); }
   76.44% {background-color:rgb(204, 0, 102); }
     82.32% {background-color:rgb(254, 128, 1); }
   88.2%{background-color:rgb(230, 0, 92); }
    94.08% {background-color:rgb(253, 183, 53); }
     100% {background-color:rgb(230, 172, 0); }
   
}
@keyframes d13 {
   
    0% {background-color:rgb(0, 153, 61); }

   5.88% {background-color:rgb(0, 138, 230); }
     11.76%  {background-color:rgb(0, 196, 0); }
   17.64% {background-color:rgb(7, 81, 171); }
   23.52% {background-color:rgb(5, 58, 122); }
  29.4%  {background-color:rgb(252, 29, 68);}
    35.28% {background-color:rgb(226, 171, 3); }
     41.16%  {background-color:rgb(0, 179, 60); }
    47.04% {background-color:rgb(188, 16, 31); }
    52.92% {background-color:rgb(254, 57, 27); }
    58.8% {background-color:rgb(77, 195, 255); }
   64.68%{background-color:rgb(255, 209, 26); }
    70.56% {background-color:rgb(204, 0, 102); }
    76.44% {background-color:rgb(254, 128, 1); }
    82.32% {background-color:rgb(230, 0, 92); }
    88.2% {background-color:rgb(253, 183, 53); }
   94.08% {background-color:rgb(230, 172, 0); }
     100% {background-color:rgb(0, 153, 61); }
   
}
@keyframes d14 {
   
   0% {background-color:rgb(0, 138, 230); }

   5.88% {background-color:rgb(0, 196, 0); }
     11.76%  {background-color:rgb(7, 81, 171); }
    17.64% {background-color:rgb(5, 58, 122); }
23.52% {background-color:rgb(252, 29, 68);}
    29.4% {background-color:rgb(226, 171, 3); }
    35.28%  {background-color:rgb(0, 179, 60); }
    41.16% {background-color:rgb(188, 16, 31); }
    47.04% {background-color:rgb(254, 57, 27); }
    52.92%{background-color:rgb(77, 195, 255); }
    58.8%{background-color:rgb(255, 209, 26); }
    64.68% {background-color:rgb(204, 0, 102); }
    70.56% {background-color:rgb(254, 128, 1); }
    76.44% {background-color:rgb(230, 0, 92); }
     82.32% {background-color:rgb(253, 183, 53); }
    88.2% {background-color:rgb(230, 172, 0); }
    94.08%{background-color:rgb(0, 153, 61); }
     100% {background-color:rgb(0, 138, 230); }
   
}
@keyframes d15 {
    
    0% {background-color:rgb(0, 196, 0); }

   5.88% {background-color:rgb(7, 81, 171); }
    11.76%  {background-color:rgb(5, 58, 122); }
 17.64%  {background-color:rgb(252, 29, 68);}
    23.52%  {background-color:rgb(226, 171, 3); }
    29.4% {background-color:rgb(0, 179, 60); }
    35.28%  {background-color:rgb(188, 16, 31); }
    41.16% {background-color:rgb(254, 57, 27); }
    47.04% {background-color:rgb(77, 195, 255); }
    52.92%{background-color:rgb(255, 209, 26); }
     58.8%  {background-color:rgb(204, 0, 102); }
   64.68%{background-color:rgb(254, 128, 1); }
    70.56% {background-color:rgb(230, 0, 92); }
    76.44% {background-color:rgb(253, 183, 53); }
    82.32% {background-color:rgb(230, 172, 0); }
    88.2%  {background-color:rgb(0, 153, 61); }
    94.08% {background-color:rgb(0, 138, 230); }
    100% {background-color:rgb(0, 196, 0); }
   
}
@keyframes d16 {

    0% {background-color:rgb(7, 81, 171); }
    5.88% {background-color:rgb(5, 58, 122); }
  11.76%  {background-color:rgb(252, 29, 68);}
   17.64%  {background-color:rgb(226, 171, 3); }
     23.52%  {background-color:rgb(0, 179, 60); }
   29.4%  {background-color:rgb(188, 16, 31); }
   35.28% {background-color:rgb(254, 57, 27); }
     41.16% {background-color:rgb(77, 195, 255); }
    47.04% {background-color:rgb(255, 209, 26); }
    52.92%{background-color:rgb(204, 0, 102); }
    58.8% {background-color:rgb(254, 128, 1); }
    64.68% {background-color:rgb(230, 0, 92); }
   70.56% {background-color:rgb(253, 183, 53); }
   76.44% {background-color:rgb(230, 172, 0); }
    82.32% {background-color:rgb(0, 153, 61); }
    88.2%  {background-color:rgb(0, 138, 230); }
    94.08% {background-color:rgb(0, 196, 0); }
   100% {background-color:rgb(7, 81, 171); }
   
}
@keyframes d17 {
   
    0% {background-color:rgb(5, 58, 122); }
   5.88%   {background-color:rgb(252, 29, 68);}
     11.76%  {background-color:rgb(226, 171, 3); }
   17.64% {background-color:rgb(0, 179, 60); }
    23.52%  {background-color:rgb(188, 16, 31); }
    29.4% {background-color:rgb(254, 57, 27); }
    35.28%{background-color:rgb(77, 195, 255); }
   41.16% {background-color:rgb(255, 209, 26); }
    47.04% {background-color:rgb(204, 0, 102); }
    52.92% {background-color:rgb(254, 128, 1); }
   58.8% {background-color:rgb(230, 0, 92); }
    64.68% {background-color:rgb(253, 183, 53); }
   70.56% {background-color:rgb(230, 172, 0); }
    76.44% {background-color:rgb(0, 153, 61); }
    82.32% {background-color:rgb(0, 138, 230); }
    88.2% {background-color:rgb(0, 196, 0); }
    94.08% {background-color:rgb(7, 81, 171); }
100% {background-color:rgb(5, 58, 122); }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: Teal;
}

.active {
    background-color: MediumSeaGreen;
}
aside {

    float: left;
    max-width:300px;
    padding: 10px;
    background-color:#c2ff99;
   // border: 1px solid gray;
}


aside ul {
    list-style-type: none;
    padding: 10px;
}
   

aside a {
    background-color:white;
    color:black;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 120px 120px 0 120px;
overflow:hidden;
border:1px solid #66ff00;
}

aside li a:hover {
    background-color:white;
    color:black;
    box-shadow: 10px 10px #66ff00;
}

section
{
float:left;
margin-left:10px;
}
article {float:right;
margin-right : 10px;
height : 200px;
}
      * {box-sizing:border-box}
     .mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.active {
  background-color: #717171;
}

.vSlides
{
display:none;

}

.margin
{
margin-left:150px;
}